:root {
  /* Font Family */
  --ff-base: "Inter", sans-serif;
  --ff-heading: "Poppins", sans-serif;
}

/* Reset */
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: var(--ff-base);
  background-color: var(--clr-bg);
  color: var(--clr-text);
  line-height: 1.6;
  width: 100%;
  min-height: 100vh;
  overflow-x: hidden;
}

/* Typography */
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--ff-heading);
  font-weight: 600;
  color: var(--clr-text);
}

button {
  cursor: pointer;
  font-family: var(--ff-base);
}

.btn:hover {
  background: var(--clr-primary-light);
}
