:root {
  /* Font Family */
  --ff-base: "Inter", sans-serif;
  --ff-heading: "Poppins", sans-serif;
}

/* Reset */
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: var(--ff-base);
  line-height: 1.6;
  width: 100%;
  min-height: 100vh;
  overflow-x: hidden;
}

/* Typography */
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--ff-heading);
  font-weight: 600;
}

body.light {
  background-color: #ffffff;
  color: #000000;
}

body.dark {
  background-color: #333;
  color: #ffffff;
}

body {
  transition: background-color 0.3s ease, color 0.3s ease;
}

button {
  cursor: pointer;
  font-family: var(--ff-base);
}
